<div id="formWaluta">
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Wybór waluty
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div id="inputRow">
    <form>
        <mat-form-field hintLabel="Lista walut po kliknięciu ^">
          <input matInput
                 placeholder="Waluta"
                 aria-label="Waluta"
                 [matAutocomplete]="auto"
                 [formControl]="currencyCtrl">
          <mat-error *ngIf="currencyCtrl.hasError('currencyInvalid')"> Niepoprawna Waluta</mat-error>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let currency of filteredCurrencies | async | sortBy:'asc':'code'" [value]="currency.code" (onSelectionChange)="_setCurrencyData(currency)">
              <span>{{currency.code}}</span> |
              <small > {{currency.currency}}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      
    <mat-form-field>
      <mat-label> Wybór dat</mat-label>
      <mat-date-range-input [min]="minDate" [max]="maxDate" [rangePicker] ="picker" [formGroup]="dateRangeCtrl"> 
          <input matStartDate formControlName="start" placeholder="Od">
          <input matEndDate formControlName="end" placeholder="Do">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker touchUI #picker></mat-date-range-picker>
      <mat-error *ngIf="dateRangeCtrl.controls.end.hasError('notWeekDifference')"> Zakres nie mniejszy niż tydzień </mat-error>
      <mat-error *ngIf="dateRangeCtrl.controls.start.hasError('matDatepickerMin')"> Data powinna być po {{ minDate | date: 'dd.MM.y' }} </mat-error>
      <mat-error *ngIf="dateRangeCtrl.controls.end.hasError('matDatepickerMax')"> Data powinna być przed {{ maxDate | date: 'dd.MM.y' }} </mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" id="wyszukaj" 
    [disabled]=" !dateRangeCtrl.valid
      || !currencyCtrl.valid" 
      (click) = "setRequestData()"> wyszukaj </button>
    </div>
 
  <!-- #enddocregion action-bar -->
  </mat-expansion-panel>
</div>