<body>
<div id="inputRow">
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput
                 placeholder="Currency"
                 aria-label="Currency"
                 [matAutocomplete]="auto"
                 [formControl]="currencyCtrl">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let currency of filteredCurrencies | async" [value]="currency.code">
              <span>{{currency.code}}</span> |
              <small> {{currency.currency}}</small>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

    <mat-form-field>
    <mat-label> Wybierz daty</mat-label>
    <mat-date-range-input [min]="minDate" [max]="maxDate" [rangePicker] ="picker"> 
        <input matStartDate [(ngModel)]="walutaInput.dataOd"  placeholder="Od">
        <input matEndDate [(ngModel)]="walutaInput.dataDo"  placeholder="Do">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <button [disabled]="!walutaInput.dataDo && !walutaInput.dataOd && !this.currencyCtrl.value" (click) = "setRequestData()"> wyszukaj </button>
</div>
</body>