<div id="longestPeriod" *ngIf="this.isDataAvailable">
    <p> Longest nondeclining period of {{ this.currencyName }}:  
        {{ this.longestPeriodObj.dateStart | date: 'dd/MM/y'}} to {{ this.longestPeriodObj.dateStop | date:'dd/MM/y' }}</p>
        <canvas baseChart width="300" height="200"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [legend]="false"
        [chartType]="lineChartType"
        [colors]="lineChartColors"></canvas>
</div>